NEXT_PUBLIC_BACKEND_URL=
GITHUB_ID=
GITHUB_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=
#url của app
NEXTAUTH_URL=
#secret for jwt => add secret to route.ts
NEXTAUTH_SECRET=
REVALIDATE_SECRET=
TOKEN_EXPIRE_NUMBER=30
TOKEN_EXPIRE_UNIT=seconds